{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "no-multi-assign": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "max-len": "off"
  }
}
