{
  "extends": "airbnb/legacy",
  "rules": {
    "one-var": [2, {
      "uninitialized": "always", // Exactly one declaration for uninitialized variables per function (var) or block (let or const)
      "initialized": "never" // Exactly one declarator per initialized variable declaration per function (var) or block (let or const)
    }],
    "no-console": 0,
    "spaced-comment": 0,
    "no-param-reassign": 0
  }
}
