
name: CI

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

env:
  NODE_VERSION: 'lts/*'

jobs:
  tests:
    strategy:
      matrix:
        node: [ '6', '8', '10', '12', '14', '16', '18', '20' ]
    name: Unit tests (Node v${{ matrix.node }})
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node }}
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --frozen-lockfile --non-interactive

    - name: Unit tests
      run: yarn test

  release:
    needs: [tests]
    if: github.ref == 'refs/heads/main'
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --non-interactive

      - name: Release
        run: npx semantic-release --branches main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
